/* USE FOR CUSTOM STYLE AND LAYOUT: */
/* Add or adjust banners for organization */
/* modern-normalize is taking care of the box-sizing,
   which is still a standard way to design */

/* * * * * * * * * * * * * * * * * * * * * * * * *
    UTILITIES 
* * * * * * * * * * * * * * * * * * * * * * * * */
/* Screen Reader Only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    scroll-behavior: smooth;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    TYPOGRAPHY 
    For larger projects, consider using a type scale:
    https://baseline.is/tools/type-scale-generator/
* * * * * * * * * * * * * * * * * * * * * * * * */
:root {
    --text-size-xs: 0.69rem;
    --text-size-sm: 0.83rem;
    --text-size-md: 1rem;
    --text-size-lg: 1.2rem;
    --text-size-xl: 1.44rem;
    --text-size-2xl: 1.73rem;
    --text-size-3xl: 2.07rem;
    --text-size-4xl: 2.49rem;
    --text-size-5xl: 2.99rem;
  }
      
h1{
    font-size: var(--text-size-4xl);
    margin: 1.5em 0 .5em;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: var(--text-size-3xl);
    font-family: "Patrick Hand", cursive;
    text-align: center;

}
h3{
    font-size: var(--text-size-2xl);
    font-family: "Patrick Hand", cursive;
}

p, li, a, td {
    font-family: "Patrick Hand", cursive;
    font-size: var(--text-size-lg);
    max-width: 85%;
    text-align: center;
    margin: 0 auto;

}
li{
    list-style-type: none;
    margin: 0 auto;
}
figcaption, .caption {
    font-size: var(--text-size-sm);
}
table {
    padding-top: 10px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 40px;
}
th{
}
tr{
    border-bottom: 1px dotted black;
    padding-bottom: 8px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #efd0a5;
    color: black;
}
/* * * * * * * * * * * * * * * * * * * * * * * * *
    STRUCTURE
* * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * *
    NAV SIDE BAR
* * * * * * * * * * * * * * * * * * * * * * * * */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48
}

.openbtn {
    position: absolute;
    left: 20px;
    top: 25px;
    color: black;
    font-family: 'PT Sans', sans-serif;
}

.openbtn:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.menu-button {
    font-size: 36px !important;
    position: relative;
    top: 6px;
    left: 1px;
}

.menu-text {
    font-size: 12px;
    display: block;
    font-size: var(--text-size-m);
    font-family: "Patrick Hand", cursive;

}


/* The side navigation menu */
.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}

#mySidenav {
    z-index: 10000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-color: #b08953;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: "Patrick Hand", cursive;
    font-size: var(--text-size-3xl);
    color: #665031;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: rgb(253, 253, 253);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


main {
    transition: margin-left .5s;
    padding: 0;
}


header {
    text-align: center;
    padding: 40px 0 25px 0;
    background-color: #b08953;
    color: black;

}
footer{
    text-align: center;
    padding: 20px;
    background-color: #b08953;
    color: #665031;
    margin-top: 50px;
}

.logo{
    width: 70px;
    height: auto;
    top: 20px;
    right: 20px;
    position: absolute;
    /* z-index: 9999; */

}
/* * * * * * * * * * * * * * * * * * * * * * * * *
    index.html SPECIFIC STYLES
* * * * * * * * * * * * * * * * * * * * * * * * */

.about-me-header{
    margin: 0 auto;
    text-align: center;
}

.about-me {
    padding-top: 70px;
    display: flex;
    align-items: stretch;
    flex-direction: column;   
    justify-content: space-between;
}

/* Picture */
.about-me-pic {
    flex: 1 1 auto;
    min-height: 300px; 
    background: url(../images/picture-of-me.JPG) no-repeat center center;
    background-size: contain;
    width: 100%;        
    max-width: 250px;   
    height: auto;       
    border-radius: 15px;
    margin: 0 auto;
}

/* Text */
.about-me-text {
    flex: 1 1 50%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--text-size-lg);
}

@media (width >=768px) {
    .about-me {
        flex-direction: row-reverse;
    }

    .about-me-pic{
        margin-top: 20px;
        margin: 0;
        margin-right: 50px;
    }

    .about-me-text {
        margin: 0; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.this-page{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    map.html SPECIFIC STYLES
* * * * * * * * * * * * * * * * * * * * * * * * */
/* 
    LEAFLET
    https://leafletjs.com/index.html
 */
.map-text{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
 #map{
    height: 180px;
    margin-bottom: 20px;
 }

 .Restaurant-addy{
    text-align: right;
 }
.Restaurant-name{
    text-align: left;
    padding-right: 4rem;
}
.restaurant-title{
    font-family: "Patrick Hand", cursive;
    font-size: var(--text-size-xl);
    max-width: 85%;
    text-align: left;
    margin: 0 auto;
}
.restaurant-address{
    font-family: "Patrick Hand", cursive;
    font-size: var(--text-size-xl);
    max-width: 85%;
    text-align: right;
    margin: 0 auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    breakfast.html SPECIFIC STYLES
* * * * * * * * * * * * * * * * * * * * * * * * */

.breakfast-body{
    background-image: url('../images/breakfast-background.png');
    background-repeat: repeat;
    background-attachment: fixed;
}
.breakfast-content {
    max-width: 800px;
    width: 100%;
    border: 3px solid #665031;
    padding: 2.0rem;
    margin: 35px auto;
    background-color: #efd0a5;
    text-align: center;
}

.breakfast-label{
    text-align: left;
    margin-left: 40px;
    padding-left: 50px;
    margin-bottom: 20px;
}
.name-price{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.name-price h2, .name-price p{
    margin: 0;
}
.name-price p{
    font-size: var(--text-size-xl);
}
.breakfast-stars{
    display: flex;
    color: #d4af37;
    margin-top: .5rem;
    padding-left: 5px;

    margin-bottom: 10px;
    align-items: flex-start;
}
.breakfast-restaurent-discription{
    margin-left: 15px;
    text-align: left;
    padding-left: 50px;
}
.star-description{
    padding-top: 2rem;
    color: #d4af37;
    

}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    lunch.html SPECIFIC STYLES
* * * * * * * * * * * * * * * * * * * * * * * * */


.lunch-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px 20px;
}
@media (width >=768px) {
    .lunch-item {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 40px 80px;
    }
}

.lunch-image {
    padding-top: 50px;
    width: 350px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #665031;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.7);

}

.lunch-label{
    margin: 0 auto;
    padding: 0;
}

.lunch-restaurant-discription{
    max-width: 75%;
    margin-top: .8rem;
}
.lunch-stars{
    padding-top: 10px;
    color: #d4af37;
    margin: 0 auto;

}


.lunch-image:hover {
    transform: scale(1.1);
}

.lunch-price{
    font-size: var(--text-size-lg);
    margin-top: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    dinner.html SPECIFIC STYLES
* * * * * * * * * * * * * * * * * * * * * * * * */
.card .dinner-label{
    font-size: var(--text-size-xl);
    margin-top: 10px;
    margin-bottom: 5px;
}
.dinner-image{
    width: 325px;
    height: 200px;
    object-fit: cover;
    
}
.dinner-stars{
    color: #d4af37;
    margin: 0 auto;
    padding-bottom: 10px;
}
.card:hover {
    transform: rotate(5deg) scale(1.05);
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.dinner-label{
    text-align: center;
}
.card{
    width: 325px;
    background-color: #b08953;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    padding-bottom: 15px;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.7);

}
.card .btn{
    display: block;
    margin: 0 auto;
    text-decoration-line: none;
    padding: 5px;
    background-color: #e2bf8e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Patrick Hand", cursive;
    font-size: var(--text-size-lg);
}
.card .btn:hover{
    background-color: white;
    color: #e2bf8e;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-box {
    background: #f6e5c6;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-family: "Patrick Hand", cursive;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.food-close-btn {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    MEDIA QUERIES 
* * * * * * * * * * * * * * * * * * * * * * * * */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (width >=576px) {}

/* Medium devices (tablets, 768px and up) */
@media (width >=768px) {}

/* Large devices (desktops, 992px and up) */
@media (width >=992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (width >=1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (width >=1400px) {}